
.slogan {
    min-height: calc(1.5em * 2);
    line-height: 1.5em;
}

a {
    text-decoration: none;
}

.text-truncate-3 {
  display: -webkit-box !important;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.4;
  max-height: calc(1.4em * 3);
}

